@page "/customer/add"
@using global::Customers.Persistence.Entities
@using MediatR
@using WebApp.Clients
@inject ICustomerClient CustomerClient
@inject NavigationManager Navigation
@rendermode InteractiveServer
<PageTitle>Create new customer</PageTitle>
<h1>Create Customer</h1>
<div>
    <div>
        <p>First Name</p>
        <input @bind-value="@FirstName"/>
        <br/>
    </div>
    
    <div>
        <p>Last Name</p>
        <input @bind-value="@LastName"/>
        <br/>
    </div>
    
    <div>
        <p>Email</p>
        <input @bind-value="@Email"/>
        <br/>
    </div>
    
    <div>
        <p>Phone number</p>
        <input @bind-value="@PhoneNumber"/>
        <br/>
    </div>
    
    <div>
        <p>Address</p>
        <input @bind-value="@Address"/>
        <br/>
    </div>
    

    <div>
        <p>Zip</p>
        <input @bind-value="@Zip"/>
        <p>Value: @Zip</p>
        <br/>
    </div>
    

    <br/>
    <button class="btn btn-primary" @onclick="async ()=>await SendCreateAsync()">
        Send
        
    </button>
</div>
@code {
    public string? FirstName { get; set; }
    
    public string? LastName { get; set; }
    
    public string? Email { get; set; }
    
    public string? PhoneNumber { get; set; }
    
    public string? Address { get; set; }
    
    public string? Zip { get; set; }

    public async Task SendCreateAsync()
    {
        var request = new CreateCustomerRequest
        {
            FirstName = FirstName,
            LastName = LastName,
            Contacts = new ContactsDto
            {
                Email = Email,
                PhoneNumber = PhoneNumber
            },
            MailAddress = new AddressDto
            {
                Address = Address,
                ZipCode = Zip
            },
            BillingAddress = new AddressDto
            {
                Address = Address,
                ZipCode = Zip
            }
        };
        var response = await CustomerClient.CreateCustomerAsync(request);
        
        Navigation.NavigateTo($"customerInfo/{response.Id}");
    }
 
}